.true{
	background-color: #7f0000;
    background-color: #cc0000;
    background-color: #FF4136;
	background-color: #ff7f7f;
    background-color: #ffb2b2;
    background-color: #795548;
	background-color: #995100;
	background-color: #ff8800;
    background-color: #2c4c00;
    background-color: #436500;
    background-color: #2ECC40;
    background-color: #01FF70;
	background-color: #99cc00;
    background-color: #d2fe4c;
    background-color: #FFDC00;
	background-color: #3c1451;
	background-color: #6b238e;
    background-color: #bc93d1;
    background-color: #111111;
    background-color: #424242;
    background-color: #AAAAAA;
    background-color: #001f3f;
    background-color: #004c66;
    background-color: #304FFE;
	background-color: #536DFE;
	background-color: #2979FF;
	background-color: #33b5e5;
    background-color: #8ed5f0;
    background-color: #660033;
	background-color: #b20058;
    background-color: #e50072;
    background-color: #E040FB;
}

